<a href="https://colab.research.google.com/github/SamDavis630/INFO5502-Summer2022/blob/main/lab_assignment_02_summer22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [130]:
# Created a list of 12 random number between 1 - 100.
import random
r = [random.randint(0, 100) for i in range(0, 12)]

#Sort in ascending order and print
r.sort()
print(r)

#Sort in descending order and print
r.sort(reverse = True)
print(r)

#Calculate and display the mean of the r
from statistics import mean
print (mean(r))

[6, 8, 9, 26, 39, 49, 54, 55, 64, 83, 99, 99]
[99, 99, 83, 64, 55, 54, 49, 39, 26, 9, 8, 6]
49.25

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [129]:
#solves equation inputs
for r in range(1,11):
  print(4/3*3.14*r**3)

4.1866666666666665
33.49333333333333
113.03999999999999
267.94666666666666
523.3333333333334
904.3199999999999
1436.0266666666666
2143.5733333333333
3052.08
4186.666666666667

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [8]:
# (1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

#Import csv file
import pandas as pd

from google.colab import files
uploaded = files.upload()

import io
df2 = pd.read_csv(io.BytesIO(uploaded['lab_assignment_02_denton_housing.csv']))

Saving lab_assignment_02_denton_housing.csv to lab_assignment_02_denton_housing.csv

In [9]:
#1  Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

from pandas._libs.hashtable import value_count
from numpy.lib.function_base import diff

#create a new dataframe to filter Occupied Housing Units
newdf3 =df2[(df2.title_field == "Occupied Housing Units")]

#difference year over year
diff_occ= newdf3['value'].shift(1) - newdf3['value']

#sort values in ascending order
sort_occ = sorted(diff_occ)

#display values
print(sort_occ)

[nan, -795.0, -303.0, 1404.0, 1565.0, 2622.0, 5091.0]

In [119]:
newdf3 = df2.loc[(df2['title_field'].str.contains('Total Housing Units|Occupied Housing Units'))]

newdf3['occupied.percentage2'] = newdf3['value'] / newdf3['value'].shift(1)*100

print(newdf3)

    year             title_field  value  occupied.percentage2
0   2014     Total Housing Units  49109                   NaN
2   2014  Occupied Housing Units  46295             94.269889
3   2013     Total Housing Units  47888            103.440976
5   2013  Occupied Housing Units  43673             91.198212
6   2012     Total Housing Units  45121            103.315550
8   2012  Occupied Housing Units  42108             93.322400
9   2011     Total Housing Units  44917            106.670941
11  2011  Occupied Housing Units  40704             90.620478
12  2010     Total Housing Units  44642            109.674725
14  2010  Occupied Housing Units  41007             91.857444
15  2009     Total Housing Units  39499             96.322579
17  2009  Occupied Housing Units  35916             90.928884
18  2008     Total Housing Units  41194            114.695400
20  2008  Occupied Housing Units  36711             89.117347

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [126]:
import pandas as pd
import re

newdf2 = df2.loc[(df2['title_field'].str.contains('Total Housing Units|Vacant Housing Units'))]

newdf2['vacant.percentage'] = newdf2['value'] / newdf2['value'].shift(1)*100

newdf3 = df2.loc[(df2['title_field'].str.contains('Total Housing Units|Occupied Housing Units'))]

newdf3['occupied.percentage2'] = newdf3['value'] / newdf3['value'].shift(1)*100



print(newdf2.loc[:, newdf2.columns != 'title_field'])
print(newdf3.loc[:, newdf3.columns != 'title_field'])

    year  value  vacant.percentage
0   2014  49109                NaN
1   2014   2814           5.730111
3   2013  47888        1701.776830
4   2013   4215           8.801788
6   2012  45121        1070.486358
7   2012   3013           6.677600
9   2011  44917        1490.773316
10  2011   4213           9.379522
12  2010  44642        1059.624970
13  2010   3635           8.142556
15  2009  39499        1086.629986
16  2009   3583           9.071116
18  2008  41194        1149.706949
19  2008   4483          10.882653
    year  value  occupied.percentage2
0   2014  49109                   NaN
2   2014  46295             94.269889
3   2013  47888            103.440976
5   2013  43673             91.198212
6   2012  45121            103.315550
8   2012  42108             93.322400
9   2011  44917            106.670941
11  2011  40704             90.620478
12  2010  44642            109.674725
14  2010  41007             91.857444
15  2009  39499             96.322579
17  2009  35916             90.928884
18  2008  41194            114.695400
20  2008  36711             89.117347

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [127]:
# (3) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied

import pandas as pd

#create a new dataframe to filter Vacant Housing Units
newdf2 =df2[(df2.title_field == "Vacant Housing Units")]

#found the max number of vacant housing units
max_vac = newdf2['value'].max()

#identified the year and displayed the max vacant housing units and year

date_of_max = newdf2[newdf2['value'] == max_vac]['year'].values[0]
print('Vacant Housing Unit ', date_of_max, max_vac)

#create a new dataframe to filter Occupied Housing Units
newdf3 =df2[(df2.title_field == "Occupied Housing Units")]

#found the max number of occupied housing units
max_vac3 = newdf3['value'].max()

#identified the year and displayed the max occupied housing units and year
date_of_max3 = newdf3[newdf3['value'] == max_vac3]['year'].values[0]
print('Occupied Housing Unit ', date_of_max3, max_vac3)

#I had a hard time getting the date in the print out. I had no problem filtering, but including the date was hard to find a more efficient code.

Vacant Housing Unit  2008 4483
Occupied Housing Unit  2014 46295

In [128]:
#(4) Calculate the harmonic mean of the total housing units and print it out
import pandas as pd

#create a new dataframe to filter Total Housing Units
newdf2 =df2[(df2.title_field == "Total Housing Units")]

import statistics

#Calculate the harmonic mean function from the statistics imported
print('Harmonic Mean is ', statistics.harmonic_mean(newdf2.value))

Harmonic Mean is  44398.28543969185